body{
    background-color: #113A8C;
}

.navbar{
    background-color: #f09833;
}

.card{
    margin: 10px;
}

#card-login{
    width: 400px;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    overflow: auto;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}