body{
    font-family: "Montserrat";
    background-color: #eee;
}


.navbar{
    background-color: #F2BC1B;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.container-fluid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    display: flex;
    align-items: center;
}

.cep{
    display: flex;
    padding: 20px;
}