@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
    font-family: "Montserrat";
    background-color: #eee;
}

.navbar {
    background-color: #F2BC1B;
}

.row{
    display: flex;
    justify-content: center;
}